
body {
  /*background-color: #fff;*/
  background-image: url('../images/backgroundcode.png');
  background-size: cover;
}

.content {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #2B3946;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 5px;
}

h2, legend {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #2B3946;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: .5em;
  color: #2B3946;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}


p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: lightgrey;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
}

.introductiontext p{
  text-align: center;
}

hr {
  border-top: 3px solid #283946;
  border-bottom: 1px solid #283946;
  border-left: none;
  border-right: none;
  margin: 0px auto 3px;
  padding: 1px;
  width: 95%;
}

.formheading legend {
  text-align: left;
  margin: 5px;
  font-size: 1.2em;
}

fieldset {
  border: none;
  margin: 0 auto;
}

label {
  color: darkgrey;
  display: block;
}

input,
#state {
  width: 92%;
  margin: 10px auto;
  background: #fff;
  border-radius: 5px;
  padding: 12px;
  text-align: right;
  font-weight: 300;
  font-size: .7em;
  font-style: italic;
  border: none;
  transition: background-color 1s ease;
}

input:focus, input:active, input:checked {
  border: 3px solid #283946;
  font-style: normal;
  font-size: 1em;
  background-color: #283946;
  color: white;
}

input[id="zipcode"] {
  width: 30%;
}

input[type="checkbox"], input[type="radio"] {
  border: 3px solid red;
  width: 5%;
  margin: 2% 1%;
  padding: 1px;
  display: inline-block;
}


input[type="textarea"] {
  height: 100px;
  width: 92%;
  text-align: left;
  transition: background-color 1s ease;
}

input[type="textarea"]:focus {
  background-color: #283946;;
  color: white;
}

input[type="submit"], input[type="reset"] {
  width: 92.5%;
  text-align: center;
  padding: 25px;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  background-color: #6eada9;
  margin: 10px;
}

input[type="reset"] {
  text-align: center;
  padding: 25px;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  background-color: #ff9898;
}

input[type="reset"]:hover {
  background-color: #fff;
}

.checkbox {
  width: 100%;
}

textarea {
  width: 92%;
  height: 100px;
}

.checkbox label {
  display: inline-block;
  margin: 0 auto;
}

footer p {
  font-style: italic;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

/************************************
Media Query break @ 760 px
**********************************/

@media (min-width: 760px) {

  .content {
    width: 90%;
    margin: 0 auto;
    max-width: 760px;
  }

  .introductiontext p {
    text-align: center;
    margin-bottom: 5%;
  }

  label {
    color: darkgrey;
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin-left: 5px;
  }

  input,
  #state {
    width: 50%;
    margin: 10px 5%;
    background: #fff;
    border-radius: 5px;
    padding: 12px;
    text-align: right;
    font-weight: 300;
    font-size: .7em;
    font-style: italic;
    border: none;
  }

  input[type="checkbox"], input[type="radio"] {
    width: 5%;
    margin: 2% 0px;
    padding: 1px;
    display: inline-block;
  }

  input[type="textarea"] {
    width: 92%;
    margin: 0 auto;
    padding: 25px 0px;
  }

  input[type="submit"] {
    width: 92%;
    margin: 1%;
    padding: 25px 0px;
  }

  input[type="reset"] {
    width: 92%;
    margin: 1%;
    padding: 25px 0px;
  }

  .checkbox label {
    display: inline-block;
    margin: 1px 1px;
    padding: 1px 1px;
  }

  input[id="zipcode"] {
    width: 20%;
  }

}

/************************************
Media Query break @ 760 px
**********************************/

@media (min-width: 1024px) {

  fieldset {
    border: 1px solid grey;
    margin-bottom: 10px;
  }

}
