
body {
  background-color: #fff;
}

header {
  background-color: #2B3946;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 5px;
}

h2, legend {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #2B3946;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}


p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: lightgrey;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
}

.introductiontext p{
  text-align: center;
}

hr {
  border-top: 3px solid #283946;
  border-bottom: 1px solid #283946;
  border-left: none;
  border-right: none;
  margin: 0px auto 3px;
  padding: 1px;
  width: 95%;
}

.formheading legend {
  text-align: left;
  margin: 5px;
  font-size: 1.2em;
}

fieldset {
  border: none;
  margin: 0 auto;
}

label {
  color: darkgrey;
  display: block;
}

input,
#state {
  width: 92%;
  margin: 10px auto;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 12px;
  text-align: right;
  font-weight: 300;
  font-size: .7em;
  font-style: italic;
  border: none;
}

input:focus {
  border: 3px solid #283946;
  font-style: normal;
  font-size: 1em;
}

input[id="zipcode"] {
  width: 30%;
}

input[type="checkbox"], input[type="radio"] {
  width: 5%;
  margin: 10px;
  display: inline-block;
}

input[type="textarea"] {
  height: 100px;
}

input[type="submit"] {
  width: 92.5%;
  text-align: center;
  padding: 25px;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  background-color: #6eada9;
  margin: 10px;
}

.checkbox {
  width: 100%;
}

.checkbox label {
  display: inline-block;
  margin: 0 auto;
}

footer p {
  font-style: italic;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}
