
body {
  background-color: #fff;
}

header {
  background-color: #2B3946;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 5px;
}

h2, legend {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #2B3946;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}


p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: lightgrey;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

.introductiontext {
  text-align: center;
}

hr {
  border-top: 3px solid #283946;
  border-bottom: 1px solid #283946;
  border-left: none;
  border-right: none;
  margin: 0px auto 3px;
  padding: 1px;
  width: 95%;
}

.formheading legend {
  text-align: left;
  margin: 5px;
  font-size: 1.2em;
}

fieldset {
  border: none;
  margin: 0 auto;
}

label {
  color: darkgrey;
  display: block;
}

input {
  width: 92%;
  margin: 5px auto;
}

input[type="text"] {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 12px;
  text-align: right;
  font-weight: 300;
  font-size: .7em;
  font-style: italic;;
  border: none;
}
